#borda {
    padding: 25px 35px;
    font-size: larger;
    background-color: rgb(215, 215, 215);
    border: 10px solid black;
    width: fit-content;
    border-bottom-left-radius: 66px;
    border-bottom-right-radius: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
