{{!-- <!DOCTYPE html>
<html>
<head>
    <title>Rota HB2</title>
</head>
<body> --}}
    <div class='entry'>
        {{#if poweredByNodejs}}
        <span>{{name}} {{type}}</span>
        {{/if}}
    </div>
{{!-- </body>
</html> --}}