{{!-- <!DOCTYPE html>
<html>
<head>
    <title>Rota HB3</title>
</head>
</head>
<body> --}}
    <div class="container">
        <h1>Alguns professores do IComp/UFAM</h1>
        <ul>
            {{#each profes}}
            <li>{{nome}} - sala {{sala}}</li>
            {{/each}}
        </ul>
    </div>
{{!-- </body>
</html> --}}