<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express básico</title>
    </head>
<body>
    <header>
        <h1>APP PW</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/teste">Teste</a> |
            <a href="/sobre">Sobre</a> |
            <a href="/hb1">HB1</a> |
            <a href="/hb2">HB2</a> |
            <a href="/hb3">HB3</a> |
            <a href="/hb4">HB4</a>
        </nav>
    </header>

    <main>
        {{{body}}} </main>

    <footer>
        <p>&copy; Rodapé </p>
    </footer>

    </body>
</html>