<h1>Sobre o Jogo Space Shooter</h1>
<p>Os jogos clássicos de tiro espacial, também conhecidos como "space shooters", têm uma história rica que remonta aos primórdios dos videogames. O gênero se popularizou com títulos como Space Invaders, que estabeleceu o formato de jogo com ondas de inimigos em movimento vertical e o jogador tentando eliminá-los. Outros jogos importantes incluem Galaga e 1942, que expandiram a jogabilidade com power-ups, diferentes tipos de naves e chefes desafiadores. 
</p>
<p>Normalmente, o objetivo é sobreviver o maior tempo possível enquanto coleta power-ups para aprimorar sua nave.</p>
<figure>
    <img src="/img/space_shooter.png" alt="Imagem do jogo Space Shooter" style="max-width: 100%; height: auto;">
    <figcaption>Imagem do jogo Space Shooter</figcaption>
</figure>
